<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132676685431-991q4ngfb7v6ucc34r7nebfaro919i65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132676685431-991q4ngfb7v6ucc34r7nebfaro919i65</string>
	<key>API_KEY</key>
	<string>AIzaSyBmURVmNkwUDMM9ieImks-JcvLiVeTzyT8</string>
	<key>GCM_SENDER_ID</key>
	<string>132676685431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthapp</string>
	<key>PROJECT_ID</key>
	<string>health-app-25de3</string>
	<key>STORAGE_BUCKET</key>
	<string>health-app-25de3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132676685431:ios:61588be59e67492e4d0072</string>
</dict>
</plist>